<?xml version="1.0" encoding="utf-8" ?>
<configuration>

<!-- Autor: Walison Silva -->
<!-- Contato: walison.eng@gmail.com -->
<!-- LinkedIn: walisilva -->

	<configSections>
		<section name="sites" type="System.Configuration.NameValueSectionHandler" />
		<section name="telegram" type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<sites>
		<add key="aljazeera:site" value="Aljazeera" />
		<add key="aljazeera:url" value="https://www.aljazeera.com/where/brazil/" />
		<add key="aljazeera:elementoTXT" value="/html/body/div[1]/div/div[3]/div/main/div/ul/li[1]/article/div[2]/div[1]/h3" />
		<add key="aljazeera:elementoURL" value="/html/body/div[1]/div/div[3]/div/main/div/ul/li[1]/article/div[2]/div[1]/h3/a" />
		<add key="aljazeera:metodo" value="1" />

		<add key="theguardian:site" value="The Guardian Brazil" />
		<add key="theguardian:url" value="https://www.theguardian.com/world/brazil" />
		<add key="theguardian:elementoTXT" value="/html/body/div[3]/div/section[1]/div/div/div[1]/ul/li[1]/div/div/div[2]/div[1]" />
		<add key="theguardian:elementoURL" value="/html/body/div[3]/div/section[1]/div/div/div[1]/ul/li[1]/div/div/a" />
		<add key="theguardian:metodo" value="1" />

		<add key="reuters:site" value="REUTERS" />
		<add key="reuters:url" value="https://www.reuters.com/site-search/?query=brazil" />
		<add key="reuters:elementoTXT" value="/html/body/div[1]/div[2]/div[2]/div/div[2]/div[2]/ul/li[1]/div/a" />
		<add key="reuters:elementoURL" value="/html/body/div[1]/div[2]/div[2]/div/div[2]/div[2]/ul/li[1]/div/a" />
		<add key="reuters:metodo" value="2" />

		<add key="r7:site" value="R7" />
		<add key="r7:url" value="https://www.r7.com/" />
		<add key="r7:elementoTXT" value="/html/body/div[4]/div[1]/div[1]/div/div/div[4]/div/div/div/div/article/h3" />
		<add key="r7:elementoURL" value="/html/body/div[4]/div[1]/div[1]/div/div/div[4]/div/div/div/div/article/h3/a" />
		<add key="r7:metodo" value="2" />

		<add key="thenewsbr:site" value="The News Brasil" />
		<add key="thenewsbr:url" value="https://thenewscc.com.br/category/brasil/" />
		<add key="thenewsbr:elementoTXT" value="/html/body/div[1]/main/div/article[1]/header/h1" />
		<add key="thenewsbr:elementoURL" value="/html/body/div[1]/main/div/article[1]/header/h1/a" />
		<add key="thenewsbr:metodo" value="1" />

		<add key="theintercept:site" value="The Intercept" />
		<add key="theintercept:url" value="https://theintercept.com/world/" />
		<add key="theintercept:elementoTXT" value="/html/body/div/div/div[2]/div[2]/div/div/div/div/a[1]/div/div[2]/div[1]/h4/span" />
		<add key="theintercept:elementoURL" value="/html/body/div/div/div[2]/div[2]/div/div/div/div/a[1]" />
		<add key="theintercept:metodo" value="1" />

		<add key="oestadao:site" value="O Estadão" />
		<add key="oestadao:url" value="https://www.estadao.com.br/" />
		<add key="oestadao:elementoTXT" value="/html/body/div[1]/div/div/div[1]/div/div/div/div/div/div[1]/div/a/h2" />
		<add key="oestadao:elementoURL" value="/html/body/div[1]/div/div/div[1]/div/div/div/div/div/div[1]/div/a" />
		<add key="oestadao:metodo" value="2" />

		<add key="bbcbrasil:site" value="BBC Brasil" />
		<add key="bbcbrasil:url" value="https://www.bbc.com/portuguese" />
		<add key="bbcbrasil:elementoTXT" value="/html/body/div[2]/div/div/main/div/section[1]/div[2]/ul/li[1]/div/div[2]/h3/a/span" />
		<add key="bbcbrasil:elementoURL" value="/html/body/div[2]/div/div/main/div/section[1]/div[2]/ul/li[1]/div/div[2]/h3/a" />
		<add key="bbcbrasil:metodo" value="2" />

		<add key="veja:site" value="Veja" />
		<add key="veja:url" value="https://veja.abril.com.br/" />
		<add key="veja:elementoTXT" value="/html/body/main/section[1]/div/div/div[1]/div[1]/a[1]/h2" />
		<add key="veja:elementoURL" value="/html/body/main/section[1]/div/div/div[1]/div[1]/a[1]" />
		<add key="veja:metodo" value="1" />

		<add key="ig:site" value="IG" />
		<add key="ig:url" value="https://www.ig.com.br/" />
		<add key="ig:elementoTXT" value="/html/body/div[6]/section/section[1]/div[2]/div[1]/div/div[3]/div/h2" />
		<add key="ig:elementoURL" value="/html/body/div[6]/section/section[1]/div[2]/div[1]/div/div[3]/div/h2/a" />
		<add key="ig:metodo" value="2" />

		<add key="terra:site" value="Terra" />
		<add key="terra:url" value="https://www.terra.com.br/noticias/brasil/" />
		<add key="terra:elementoTXT" value="/html/body/div[5]/div[1]/div/div[1]/div[2]/div[2]/a/h3" />
		<add key="terra:elementoURL" value="/html/body/div[5]/div[1]/div/div[1]/div[2]/div[2]/a" />
		<add key="terra:metodo" value="1" />

		<add key="oglobo:site" value="O Globo" />
		<add key="oglobo:url" value="https://oglobo.globo.com/" />
		<add key="oglobo:elementoTXT" value="/html/body/main/div[4]/div/section[1]/div/div/section/div/a/h2" />
		<add key="oglobo:elementoURL" value="/html/body/main/div[4]/div/section[1]/div/div/section/div/a" />
		<add key="oglobo:metodo" value="2" />

		<add key="g1:site" value="G1" />
		<add key="g1:url" value="https://g1.globo.com/" />
		<add key="g1:elementoTXT" value="/html/body/div[2]/main/div[2]/div/div/div/div/div[1]/div/a/ul/li[5]/div/div/span" />
		<add key="g1:elementoURL" value="/html/body/div[2]/main/div[2]/div/div/div/div/div[1]/div/a" />
		<add key="g1:metodo" value="2" />

		<add key="uol:site" value="UOL" />
		<add key="uol:url" value="https://www.uol.com.br/" />
		<add key="uol:elementoTXT" value="/html/body/div[1]/div/div/div[3]/section[2]/div/div/div[2]/div/div[1]/article/a/div/h3" />
		<add key="uol:elementoURL" value="/html/body/div[1]/div/div/div[3]/section[2]/div/div/div[2]/div/div[1]/article/a" />
		<add key="uol:metodo" value="1" />

		<add key="folha:site" value="Folha de S. Paulo" />
		<add key="folha:url" value="https://www.folha.uol.com.br/" />
		<add key="folha:elementoTXT" value="/html/body/div[4]/div[2]/main/div[1]/div[3]/div/div[1]/div[1]/div/div[1]/a/h2" />
		<add key="folha:elementoURL" value="/html/body/div[4]/div[2]/main/div[1]/div[3]/div/div[1]/div[1]/div/div[1]/a" />
		<add key="folha:metodo" value="2" />
	</sites>

	<telegram>
		<add key="telegram:chatid" value="999999999" />
		<add key="telegram:token" value="999999999999999aaaaaaaaaaaaaaaaaa" />
	</telegram>

</configuration>
